.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 8px;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (max-width: 479px) {
    width: 290px;
    justify-content: center;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 326px;
  }

  @include tablet {
    flex-wrap: nowrap;
    gap: 0 8px;
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}
