.hero {
  padding: 118px 0;

  background-color: $footer-bgd-color;
  text-align: center;

  @include desktop {
    padding: 200px 0;
  }

  &__title {
    display: inline-block;

    max-width: 360px;
    margin-bottom: 30px;
    color: $main-bgd-color;
    font-weight: 900;
    font-size: 22px;
    line-height: calc(34 / 22);
    letter-spacing: 0.06em;

    @include mobile {
      font-size: 26px;
      line-height: calc(42 / 26);
    }

    @include desktop {
      max-width: 696px;

      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}

.overlay {
  max-width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-image: $gradient, url(../images/hero/hero-mobile.jpg);
  @include retina {
    background-image: $gradient, url(../images/hero/hero-mobile-2x.jpg);
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mobile {
    background-image: $gradient, url(../images/hero/hero-mobile.jpg);
    @include retina {
      background-image: $gradient, url(../images/hero/hero-mobile-2x.jpg);
    }
  }

  @include tablet {
    background-image: $gradient, url(../images/hero/hero-tablet.jpg);
    @include retina {
      background-image: $gradient, url(../images/hero/hero-tablet-2x.jpg);
    }
  }

  @include desktop {
    background-image: $gradient, url(../images/hero/hero.jpg);
    height: 600px;
    @include retina {
      background-image: $gradient, url(../images/hero/hero-2x.jpg);
    }
  }
}
