.logo {
  display: block;
  padding: 16px 0;

  color: $primary-logo-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;

  @include tablet {
    padding: 24px 0;
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &--position--page--header {
    display: block;
    margin-right: 93px;
  }

  &__text {
    color: $main-font-color;
  }

  &__text--inverse {
    color: $main-bgd-color;
  }

  &--flat {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
  }
}
