.main-nav {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.main-nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }

  @include tablet {
    display: flex;
  }
}

.main-nav__item {
  @include tablet {
    position: relative;

    margin-right: 50px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.main-nav__link {
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;

  transition: color $time-function;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: calc(47 / 40);
  }

  @include tablet {
    font-size: 14px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: calc(16 / 14);

    &--current::after {
      position: absolute;
      display: block;
      left: 0;
      bottom: 0;

      content: '';
      width: 100%;
      height: 4px;

      background-color: $btn-active-color;
      border-radius: 2px;
    }
  }

  &:link,
  &:visited {
    color: $main-font-color;
  }

  &:hover,
  &:focus {
    color: $primary-logo-color;
  }
}

.main-nav__link.main-nav__link--current {
  color: $primary-logo-color;
}
