.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow-y: scroll;

  background-color: $backdrop-bgd-color;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition: scale $time-function, visibility $time-function, opacity $time-function;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  @include desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;

    width: 100%;
    max-width: 528px;
  }
  position: relative;

  margin: 93px auto;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 4px;

  background-color: $main-bgd-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  &__close-icon {
    fill: #000;

    transition: fill $time-function;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid $backdrop-bgd-color;
  border-radius: 50%;

  background-color: $main-bgd-color;
  cursor: pointer;

  transition: background-color $time-function;

  &:active {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: $primary-logo-color;
  }
}
