.page-footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  padding: 60px 0;
  background-color: $footer-bgd-color;
}

.page-footer__content {
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.page-footer__container {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.page-footer__info {
  margin-bottom: 60px;

  @include desktop {
    width: 210px;
    margin-bottom: 0;
    margin-right: 70px;
  }
}
