.social-media {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0 10px;

  &__item {
    gap: 0 10px;
  }
}

.social-media__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: $team-icon-color;
  border-radius: 50%;

  transition: color $time-function, background-color $time-function;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $primary-logo-color;
    color: $main-bgd-color;
  }

  &--grey {
    background-color: $social-links-footer-color;
  }
}

.social-media__icon {
  fill: currentColor;

  &--white {
    fill: $main-bgd-color;
  }
}

.social-media-mobile-set {
  position: absolute;
  left: 40px;
  bottom: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-mobile-set__item {
  &:not(:last-child) {
    border-right: 1px solid $paragraph-color;
  }

  padding: 0 10px;

  &:nth-child(1) {
    padding-left: 0;
  }

  &:nth-child(4) {
    padding-right: 0;
  }
}

.social-media-mobile-set__link {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $primary-logo-color;

  &:link,
  &:visited {
    color: $primary-logo-color;
  }
}
