body {
  background-color: $main-bgd-color;
  color: $main-font-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    .menu-container.is-open & {
      overflow: hidden;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }
}

.imposter {
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}

.capitalize {
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: calc(42 / 36);
  }
}
